<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div  th:fragment="application-script">
    <!--   Core JS Files   -->
    <script th:src="@{/js/core/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/core/popper.min.js}"></script>
    <script th:src="@{/js/core/bootstrap.min.js}"></script>
    <script th:src="@{/js/core/moment.js}"></script>

    <!-- jQuery UI -->
    <script th:src="@{/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
    <script th:src="@{/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>

    <!-- jQuery Scrollbar -->
    <script th:src="@{/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>


    <!-- Chart JS -->
    <script th:src="@{/js/plugin/chart.js/chart.min.js}"></script>

    <!-- jQuery Sparkline -->
    <script th:src="@{/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

    <!-- Chart Circle -->
    <script th:src="@{/js/plugin/chart-circle/circles.min.js}"></script>

    <!-- Datatables -->
    <script th:src="@{/js/plugin/datatables/datatables.min.js}"></script>
    <script th:src="@{/js/plugin/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/plugin/datatables/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/js/plugin/datatables/dataTables.responsive.min.js}"></script>
    <script th:src="@{/js/plugin/datatables/responsive.bootstrap4.min.js}"></script>

    <!-- Bootstrap Notify -->
    <script th:src="@{/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>

    <!-- jQuery Vector Maps -->
    <script th:src="@{/js/plugin/jqvmap/jquery.vmap.min.js}"></script>
    <script th:src="@{/js/plugin/jqvmap/maps/jquery.vmap.world.js}"></script>

    <!-- Sweet Alert -->
    <script th:src="@{/js/plugin/sweetalert/sweetalert.min.js}"></script>

    <!-- Atlantis JS -->
    <script th:src="@{/js/atlantis.min.js}"></script>


    <!-- Splide Slider JS -->
<!--    <script th:src="@{/js/plugin/splide/splide.min.js}"></script>-->
<!--    <script th:src="@{/js/plugin/slick/slick.js}"></script>-->

</div>

</html>