
<div class="content" th:fragment="body">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Product Information</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a>Product</a>
                </li>
            </ul>
        </div>

        <div class="row" style="display: none" id="add-product-form">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title" id="form-title">Add Product</h4>
                            <button id="hide-form" class="btn btn-primary btn-round ml-auto">
                                <i class="fa fa-minus pr-1"></i>
                                Hide
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="product-form" action="" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 form-group inputError" id="nameErrorDiv">
                                    <input type="number" id="productId" name="id" style="display: none" value="0" class="form-control">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" placeholder="Name..." name="name" class="form-control">
                                    <small id="nameError" class="errors"></small>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 form-group inputError" id="priceErrorDiv">
                                    <label for="price">Price</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">BDT</span>
                                        </div>
                                        <input type="number" required id="price" placeholder="Price..." name="price" class="form-control">
                                        <small id="priceError" class="errors"></small>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 form-group inputError" id="discountErrorDiv">
                                    <label for="discount">Discount</label>
                                    <input type="number" id="discount" placeholder="Discount..." required name="discount" class="form-control">
                                    <small id="discountError" class="errors"></small>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 form-group inputError" id="stockErrorDiv">
                                    <label for="stock">Stock</label>
                                    <input type="number" required id="stock" placeholder="Stock..." name="stock" class="form-control">
                                    <small id="stockError" class="errors"></small>
                                </div>
                                <!--<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 form-group inputError" id="colorErrorDiv">
                                    <label for="color">Select Color</label>
                                    <select id="color" name="color" class="form-control">
                                        <option value="">Select Color</option>
                                        <option>White</option>
                                    </select>
                                    <small id="categoryError" class="errors"></small>
                                </div>-->
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 form-group inputError" id="colorErrorDiv">
                                    <label class="form-label">Color Input</label>
                                    <div class="row gutters-xs">
                                        <div class="col-auto">
                                            <label class="colorinput">
                                                <input name="color" type="checkbox" value="dark" id="dark" class="colorinput-input">
                                                <span class="colorinput-color bg-dark"></span>
                                            </label>
                                        </div>
                                        <div class="col-auto">
                                            <label class="colorinput">
                                                <input name="color" type="checkbox" value="primary" id="primary" class="colorinput-input">
                                                <span class="colorinput-color bg-primary"></span>
                                            </label>
                                        </div>
                                        <div class="col-auto">
                                            <label class="colorinput">
                                                <input name="color" type="checkbox" value="secondary" id="secondary" class="colorinput-input">
                                                <span class="colorinput-color bg-secondary"></span>
                                            </label>
                                        </div>
                                        <div class="col-auto">
                                            <label class="colorinput">
                                                <input name="color" type="checkbox" value="info" id="info" class="colorinput-input">
                                                <span class="colorinput-color bg-info"></span>
                                            </label>
                                        </div>
                                        <div class="col-auto">
                                            <label class="colorinput">
                                                <input name="color" type="checkbox" value="success" id="success" class="colorinput-input">
                                                <span class="colorinput-color bg-success"></span>
                                            </label>
                                        </div>
                                        <div class="col-auto">
                                            <label class="colorinput">
                                                <input name="color" type="checkbox" value="danger" id="danger" class="colorinput-input">
                                                <span class="colorinput-color bg-danger"></span>
                                            </label>
                                        </div>
                                        <div class="col-auto">
                                            <label class="colorinput">
                                                <input name="color" type="checkbox" value="warning" id="warning" class="colorinput-input">
                                                <span class="colorinput-color bg-warning"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <small id="colorError" class="errors"></small>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 form-group inputError" id="categoryErrorDiv">
                                    <label for="category">Select Category</label>
                                    <select id="category" name="category" class="form-control">
                                        <option value="">Select Category</option>
                                        <option th:each="category : ${categoryList}"
                                                th:value="${category.id}"
                                                th:text="${category.name}">
                                        </option>
                                    </select>
                                    <small id="categoryError" class="errors"></small>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 form-group inputError" id="mainImageErrorDiv">
                                    <label for="image">Select Image</label>
                                    <input type="file" class="form-control-file py-2" id="image" name="image">
                                    <small id="mainImageError" class="errors"></small>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 form-group">
                                    <label for="secondaryImage">Select Multiple Extra Image</label>
                                    <input type="file" class="form-control-file py-2" id="secondaryImage" name="image" multiple>
                                </div>
                                <div class="col-12 form-group inputError" id="descriptionErrorDiv">
                                    <label for="description">Description</label>
                                    <textarea id="description" placeholder="Description..." name="description" class="form-control"></textarea>
                                    <small id="descriptionError" class="errors"></small>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-info" onclick="clearForm('product-form')">Clear</button>
                                <button class="btn btn-success" id="form-save-btn">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Active Product List</h4>
                            <button id="show-form"
                                    class="btn btn-primary btn-round ml-auto">
                                <i class="fa fa-plus pr-1"></i>
                                Add Product
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="active-product-table" style="cursor: pointer"
                                   class="display table table-head-bg-primary table-striped table-hover"
                                   cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">category</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">All Product List</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="all-product-table" style="cursor: pointer"
                                   class="display table table-head-bg-primary table-striped table-hover"
                                   cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">category</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content bg-dark-gradient">
                <div class="modal-header">
                    <h2 class="modal-title" id="productModalLongTitle">Product Details</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <strong>Name</strong>
                            <p id="modalName"></p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <strong>Price</strong>
                            <p id="modalPrice"></p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <strong>Discount</strong>
                            <p id="modalDiscount"></p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <strong>Stock</strong>
                            <p id="modalStock"></p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <strong>Category</strong>
                            <p id="modalCategory"></p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <strong>Created By</strong>
                            <p id="modalCreatedBy"></p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                            <strong>Created At</strong>
                            <p id="modalCreatedAt"></p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <strong>Updated By</strong>
                            <p id="modalUpdatedBy"></p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                            <strong>Updated At</strong>
                            <p id="modalUpdatedAt"></p>
                        </div>
                        <div class="col-12">
                            <strong>Description</strong>
                            <p id="modalDescription"></p>
                        </div>
                    </div>
                    <hr class="m-2 bg-dark2"/>
                    <div class="row">
                        <div class="col-12">
                            <h4>Category Information</h4>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <strong>Name</strong>
                            <p id="categoryModalName"></p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <strong>Created By</strong>
                            <p id="categoryModalCreatedBy"></p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                            <strong>Created At</strong>
                            <p id="categoryModalCreatedAt"></p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <strong>Updated By</strong>
                            <p id="categoryModalUpdatedBy"></p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                            <strong>Updated At</strong>
                            <p id="categoryModalUpdatedAt"></p>
                        </div>
                        <div class="col-12">
                            <strong>Description</strong>
                            <p id="categoryModalDescription"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="display: none" id="active-btn"></div>
            </div>
        </div>
    </div>

</div>


