<div class="content" th:fragment="body">

    <div class="row mt-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Product</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" id="product-card-modal">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


